*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    height: 60px;
}

.big{
    height: 100px;
}

[class*="col"] > .row{
    padding: 15px;
    height: 100%
}

[class*="col"] {
    background-color: blue;
    border: 2px solid white;
}

.nested > [class*="col"] {
    background-color: rgb(25, 201, 25);
    border: 1px solid blue;
}

[class*="col"] span{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.margin-bt{
    margin-bottom: 2rem;
}


